.sign-in {
    background:url(src/assets/images/new.svg);
    width: 1440px;
    height: 694px;
}

.overlay {
    background: rgba(9, 27, 54, 0.61);
    height:100%;
}

/* .img img {
    width: 607px;
    height: 404px;
} */

.shipment {
    padding:70px 2px;

}
.text-area {
    margin-top:20%;
}
.text-area h1 {
    font-weight: 500;
    font-size: 62px;
    line-height: 112.69%;
    color: #FAFAFA;
}

.text-area div {
    font-weight: 500;
    font-size: 25px;
    line-height: 112.69%;
    color: #FAFAFA;
    
}

.text-area ul {
    list-style:none;
    padding:0;
    margin:25% 0;

}

.text-area ul li {
    float:left;
}

.text-area ul li a {
    text-decoration:none;
    margin-right:10px;
    font-weight: 500;
    font-size: 19px;
    line-height: 112.69%;
    color: #26A5DF;
}

.form-section {
    background: #FAFAFA;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 5px 38px -6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding:30px;
     width: 400px;
   
}

.form-section input[type="email"] {
    border: 1px solid #87BBD5;
    box-sizing: border-box;
    border-radius: 2px;
    /* Width:340px; */
    Height:30px;
  
}
.form-section input[type="password"] {
    border: 1px solid #87BBD5;
    box-sizing: border-box;
    border-radius: 2px;
    /* Width:340px; */
    Height:30px;
  
}

.form-section label {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #353535;
}

.form-section .heading {
    width: 340px;
    height: 43px;
    background: #26A5DF;
    border-radius: 4px 4px 0px 0px;
    font-weight:400;
    text-align:center;
    color:#ffffff;
    padding:10px 0;
    margin-bottom:10px;
    font-size:20px;
}

.btn-container {
    text-align:center;
    margin:20px 0;
}

.btn-container .btn {
    background: linear-gradient(93.32deg, #26A5DF 3.14%, #2A5FAA 96.95%);
    border-radius: 5px;
    color:#fff;
    width:198px;
    height:54px;
    outline:none;
    border:none;
    cursor:pointer;
}