<div class="sign-in">
    <div class="overlay">
        <div class="ui container">
    
            <div fxLayout="row" fxLayoutGap="10%" fxLayoutAlign="spece-between stretch" class="shipment">
                <div fxFlex="50%">
                    
                    <div class="text-area">
                       <h1>Welcome Back</h1>
                       <div>Login to continue <i class="arrow right icon"></i></div>
                        <ul>
                            <li><a href="#">Air Cargo</a></li>
                            <li><a href="#">Sea Cargo</a></li>
                            <li><a href="#">Ground Transport</a></li>
                            <li><a href="#">Logistics Service</a></li>
                        </ul>
                    </div>
                </div>
        
                <div fxFlex="50%">
                    <div class="form-section">
                        <form class="ui form">
                            <div class="heading">Login To You Account</div>
                            <div class="required field">
                              <label>Email</label>
                              <input type="email" name="email">
                            </div>
                            <div class="required field">
                              <label>Password</label>
                              <input type="password" name="password" >
                            </div>
                            <label style='text-align:right; color:#26A5DF; margin-bottom:10px;'>Recover Password?</label>
                             
                            
                            <div class="btn-container" style="margin-top: 10px;">
                                <button class="btn" type="submit" routerLink="/admin/details/dashboard">Login</button>
                            </div>
        
                                <div style="text-align:center;">Don't have account? <i style="color:#26A5DF;">Register</i></div>
        
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>