<div class="ui container">
<div class="ui  grid">
    <div class="row">
        <div class="eight wide column">
            <div class='ui segment'>
                <div class='head'>Show Record</div>
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <label>From</label>
                            <input type="date">
                        </div>
            
                        <div class="field">
                            <label>To</label>
                            <input type="date">
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>


<div class="ui equal width stackable internally grid">
    <div class="row">
        <div class="column">
            <div class="ui segment" fxLayout="row" >
                <div fxFlex class="ui primary header" style="font-size:2rem; margin:0; padding:10px;">Packages</div>
                <div fxFlex class="ui primary header" style="font-size:2rem; padding:10px; text-align:right; margin:0;">0</div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment" fxLayout="row" >
                <div fxFlex class="ui primary header" style="font-size:2rem; margin:0; padding:10px;">Shipments</div>
                <div fxFlex class="ui primary header" style="font-size:2rem; padding:10px; text-align:right; margin:0;">0</div>
            </div>
        </div>
    </div>
</div>

<div class="ui equal width stackable internally grid">
    <div class="row">
        <div class="column ">
           <div class='ui  segment package'>
           <div class="ui middle aligned divided list">
            <div class="item" >
                <div><a class="ui yellow empty circular label"></a>
                    <span class="content" style="margin-left:10px;">Package Arrived Warehouse </span>                
                <label class="right floated content">0</label>
                </div>
       
            </div>
            <div class="item" >
                <div><a class="ui orange empty circular label"></a>
                    <span class="content" style="margin-left:10px;">Package Held </span>                
                <label class="right floated content">0</label>
                </div>
       
            </div>
            <div class="item" >
                <div><a class="ui green empty circular label"></a>
                    <span class="content" style="margin-left:10px;">Package Wrapped </span>                
                <label class="right floated content">0</label>
                </div>
       
            </div>
            <div class="item" >
                <div><a class="ui red empty circular label"></a>
                    <span class="content" style="margin-left:10px;">Package Shipped </span>                
                <label class="right floated content">0</label>
                </div>
       
            </div>
            <div class="item" >
                <div><a class="ui black empty circular label"></a>
                    <span class="content" style="margin-left:10px;">Package Cancelled</span>                
                <label class="right floated content">0</label>
                </div>
       
            </div>
           
           </div>
           </div>
        </div>


        <div class="column ">
            <div class='ui  segment package'>
            <div class="ui middle aligned divided list">
             <div class="item" >
                 <div><a class="ui yellow empty circular label"></a>
                     <span class="content" style="margin-left:10px;">Shipment Ready To Depart                  </span>                
                 <label class="right floated content">0</label>
                 </div>
        
             </div>
             <div class="item" >
                 <div><a class="ui orange empty circular label"></a>
                     <span class="content" style="margin-left:10px;">Shipment Ready To Depart</span>                
                 <label class="right floated content">0</label>
                 </div>
        
             </div>
             <div class="item" >
                 <div><a class="ui green empty circular label"></a>
                     <span class="content" style="margin-left:10px;">Shipment In Progress</span>                
                 <label class="right floated content">0</label>
                 </div>
        
             </div>
             <div class="item" >
                 <div><a class="ui red empty circular label"></a>
                     <span class="content" style="margin-left:10px;">Shipment Ready For Pickup</span>                
                 <label class="right floated content">0</label>
                 </div>
        
             </div>
             <div class="item" >
                 <div><a class="ui black empty circular label"></a>
                     <span class="content" style="margin-left:10px;">Shipment Delivered</span>                
                 <label class="right floated content">0</label>
                 </div>
        
             </div>
            
            </div>
            </div>
         </div>
       
    </div>
</div>




</div>


