<div class="ui container">
    <div fxLayout="row" fxLayoutGap="10%" fxLayoutAlign="end stretch" class="shipment">
        <div fxFlex="50%">
            <div class="img">
                <img src="assets/images/shipment.svg" alt="">
            </div>
            <div class="text-area">
                <p>We are your realiable importation partner from the United States and United Kingdom to Nigeria</p>
                <ul>
                    <li><a href="#">Air Cargo</a></li>
                    <li><a href="#">Sea Cargo</a></li>
                    <li><a href="#">Ground Transport</a></li>
                    <li><a href="#">Logistics Service</a></li>
                </ul>
            </div>
        </div>

        <div fxFlex="50%">
            <div class="form-section">
                <form class="ui form">
                    <div class="heading">Create Account</div>
                    <div class="required field">
                      <label>First Name</label>
                      <input type="text" name="first-name">
                    </div>
                    <div class="required field">
                      <label>Last Name</label>
                      <input type="text" name="last-name" >
                    </div>
                    <div class="required field">
                        <label>Email Address</label>
                        <input type="text" name="email" >
                      </div>
                      <div class="required field">
                        <label>Phone Number</label>
                        <input type="text" name="phone" >
                      </div>
                      <div class="required field">
                        <label>Alternate Phone Number</label>
                        <input type="text" name="alternate" >
                      </div>
                      <div class="required field">
                        <label>Company Name</label>
                        <input type="text" name="company">
                      </div>
                      <div class="required field">
                        <label>Status</label>
                        <input type="text" name="status">
                      </div>
                      <div class="two fields">
                        <div class="required field">
                            <label>Zip Code</label>
                            <input type="text" name="zip-code">
                          </div>
                          <div class="required field">
                            <label>City</label>
                            <input type="text" name="city">
                          </div>
                      </div>
                      <div class="required field">
                        <label>Address</label>
                        <textarea rows="2"></textarea>
                      </div>

                      <div class="required field">
                        <label>How did you hear about us?</label>
                        <input type="text" name="city">
                      </div>
                     
                    
                    <div class="btn-container">
                        <button class="btn" type="submit">Register</button>
                    </div>

                        <div style="text-align:center;">Already have an account? <span style="color:#26A5DF;">Log in</span></div>

                  </form>
            </div>
        </div>
    </div>
</div>