<footer class="ui fixed bottom">
    <div class="ui container">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex>
                <h2 class="ui header">Contact us</h2>
                <div> <i class="mobile alternate icon sub-label"></i>+2348110000421</div>
                <div><i class="phone icon sub-label"></i>+447405556668</div>
                <div><i class="mail icon sub-label"></i>info@countycargo.com</div>
                <div>
                    <button class="ui circular icon button"></button>
                    <button class="ui circular icon button"></button>
                    <button class="ui circular icon button"></button>
                    <button class="ui circular icon button"></button>
                </div>
            </div>
 
            <div fxFlex>
                <h2 class="ui header">Quick Menu</h2>
                <div>About Us</div>
                <div>Shop Now</div>
                <div>Terms and Condition</div>
                <div>Contact Us</div>
                
            </div>


            <div fxFlex>
                <h2 class="ui header">Account Links</h2>
                <div>Register</div>
                <div>Sign in</div>
                <div>Forgot Password</div>
                
            </div>
        </div>

        <div style="margin-top:4em; text-align:center;">©️ 2021 County Cargo. All rights reserved.</div>
    </div>
</footer>